In [ ]:
I Solve EDA step by step

In [ ]:
Introduction About the Data :
The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond
carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.
cut : Quality of Diamond Cut
color : Color of Diamond
clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.
depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)
table : A diamond's table is the facet which can be seen when the stone is viewed face up.
x : Diamond X dimension
y : Diamond Y dimension
x : Diamond Z dimension
Target variable:

price: Price of the given Diamond.

In [ ]:
I Solve EDA step by step

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv(r"D:\FullDs\notebooks\data\train.csv")

In [4]:
data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [5]:
data.sample(5)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
62197,62197,0.31,Good,H,VS1,63.1,58.0,4.31,4.35,2.73,435
75540,75540,1.21,Ideal,F,VS1,60.5,57.0,6.90,6.93,4.18,10644
79574,79574,0.90,Ideal,G,SI1,62.0,56.0,6.16,6.21,3.83,3852
61178,61178,1.07,Ideal,I,SI1,61.5,56.0,6.56,6.60,4.05,4090
103513,103513,1.20,Very Good,I,SI1,63.2,61.0,6.65,6.61,4.19,4704

In [6]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [7]:
data.info

<bound method DataFrame.info of             id  carat        cut color clarity  depth  table     x     y  \
0            0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33
1            1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12
2            2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73
3            3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41
4            4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61
...        ...    ...        ...   ...     ...    ...    ...   ...   ...
193568  193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39
193569  193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77
193570  193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75
193571  193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49
193572  193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71

           z  price
0       4.55  13619
1       5.05  13387
2       3.50   2772
3       2.71    666
4       4.77  14453
...      ...    ...
193568  2.67   1130
193569  3.47   2874
193570  3.62   3036
193571  2.81    681
193572  3.48   2258

[193573 rows x 11 columns]>

In [8]:
data=data.drop(labels=["id"],axis=1)

In [9]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [10]:
data.duplicated().sum()

0

In [11]:
data.shape

(193573, 10)

In [12]:
## Categorical & Numerical 
categorical_columns=data.columns[data.dtypes=="object"]        ### Categorical data

In [15]:
numerical_columns=data.columns[data.dtypes!="object"]

In [18]:
data[categorical_columns].describe()

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272

In [20]:
data[categorical_columns].value_counts()

cut    color  clarity
Ideal  E      VS2        5490
       G      VS2        5131
              VS1        5107
       E      SI1        4309
       F      VS2        4235
                         ...
       J      I1            2
Fair   D      I1            2
       F      IF            1
       D      VVS1          1
Good   J      IF            1
Name: count, Length: 276, dtype: int64

In [21]:
data[categorical_columns]["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [22]:
data[categorical_columns]["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [23]:
data[categorical_columns]["clarity"].value_counts()

clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64

In [19]:
data[numerical_columns].describe()

,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000