In [ ]:
I Solve EDA step by step

In [4]:
import pandas as pd

In [5]:
data=pd.read_csv(r"D:\FullDs\notebooks\data\train.csv")

In [7]:
data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [6]:
data.sample(5)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
40148,40148,0.53,Very Good,E,SI1,62.8,61.0,5.17,5.21,3.25,1304
75257,75257,0.50,Ideal,F,VVS2,61.2,57.0,5.17,5.12,3.15,2290
133621,133621,0.30,Premium,H,VVS1,62.0,59.0,4.29,4.26,2.65,742
107172,107172,1.10,Good,H,VS2,63.8,56.0,6.58,6.51,4.16,5218
171822,171822,0.70,Very Good,D,VS2,63.1,57.0,5.66,5.62,3.55,2742

In [9]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [10]:
data.info

<bound method DataFrame.info of             id  carat        cut color clarity  depth  table     x     y  \
0            0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33
1            1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12
2            2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73
3            3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41
4            4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61
...        ...    ...        ...   ...     ...    ...    ...   ...   ...
193568  193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39
193569  193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77
193570  193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75
193571  193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49
193572  193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71

           z  price
0       4.55  13619
1       5.05  13387
2       3.50   2772
3       2.71    666
4       4.77  14453
...      ...    ...
193568  2.67   1130
193569  3.47   2874
193570  3.62   3036
193571  2.81    681
193572  3.48   2258

[193573 rows x 11 columns]>

In [11]:
data.drop(labels=["id"],axis=1)

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]